<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848914813672-b8vjl5kuho4hgmlgbr97dhb476l7kjvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848914813672-b8vjl5kuho4hgmlgbr97dhb476l7kjvv</string>
	<key>API_KEY</key>
	<string>AIzaSyBSfV8fAoO0yP-KTzM-Py7agOvBrgmXo30</string>
	<key>GCM_SENDER_ID</key>
	<string>848914813672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLeBonCoin</string>
	<key>PROJECT_ID</key>
	<string>ipssi-flutter-le-bon-coin</string>
	<key>STORAGE_BUCKET</key>
	<string>ipssi-flutter-le-bon-coin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848914813672:ios:9f400b13cceb389986af5d</string>
</dict>
</plist>